body{
    background-color:red;
    
}

.score {
    font-size:40px;
    color:whitesmoke;
    border:2px solid black;
    width:500px;
    height:3rem;
    text-align:center;
    background-color:black;


}

.canvas {
    border: 2px solid black;
    margin-left:auto;
    background-color:black;
    
}